ACADEMIA_BASE_URL=https://academia.srmist.edu.in
PORTAL_ID=10002227248
SERVICE_NAME=ZohoCreator
ATTENDANCE_PAGE_NAME=My_Attendance
COURSE_PAGE_NAME=My_Time_Table_2023_24
CALENDAR_PAGE_NAME=Academic_Planner_2025_26_EVEN
PORT=8000
CORS_ORIGINS=http://localhost:3000
